html, body {
	width: 100%;
	height: 100%;

	margin: 0;

	overflow-x: hidden;
}

.item {
	width: 100px;
	height: 100px;

	position: absolute;

	bottom: 0;

	background-color: black;

	cursor: move;
}

.target {
	position: absolute;
}

#ground {
	width: 100%;
	height: 75%;

	min-width: 800px;
	min-height: 600px;

	background-color: gray;
}

#left-pan, #right-pan {
	width: 300px;
	height: 50%;

	background-color: red;

	transition: height 2s;
}

#left-pan {
	left: 20%;
}

#right-pan {
	right: 20%;
}